spring:
  application:
    name: usuarios-ms

  datasource:
    url: jdbc:postgresql://localhost:5432/usersdb
    username: postgres
    password: senh@BD
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    locations: classpath:db/migration
    baselineOnMigrate: true
    placeholderReplacement: true
    baselineVersion: 1
    encoding: UTF-8


api:
  security:
    token:
      secret: 98b3a9198243172be6a1ecb688567f9905c93250f489c1fa0a4bab507956ebea
server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance-id:${random.value} }
